@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gazpacho:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  /* Here we can create variables */
  --foreground-rgb: #F2DCF2;
 
}

body {
 
  background: var(--foreground-rgb);
  
}
/* Add this to your existing Tailwind CSS file or create a separate stylesheet */

.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #a53ea8;
  font-size: 2rem;
  
  
}

.rating2 {
   display: inline-block;
  position: relative;
  width: 1.1em; 
  
}

/* .rating span:hover:before,
.rating span:hover ~ span:before {
  content: '\2605';
  position: absolute;
  color: gold;
} */

.rating input {
  display: none;
}


